@media (min-width: 991.98px) {
    .shadow {
      display: inline-block;
      -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
      transition: -webkit-box-shadow 0.5s ease 0s;
      -o-transition: box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
    }
  
    .shadow:hover {
      -webkit-box-shadow: -16px -10px 15px 0px rgb(0 0 0 / 15%);
      box-shadow: -16px -10px 15px 0px rgb(0 0 0 / 15%);
    }
  
    .shadowBig {
      display: inline-block;
      -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
      transition: -webkit-box-shadow 0.5s ease 0s;
      -o-transition: box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
    }
  
    .shadowBig:hover {
      -webkit-box-shadow: -16px -10px 15px 0px rgba(0, 0, 0, 0.15);
      box-shadow: -16px -10px 15px 0px rgba(0, 0, 0, 0.15);
    }
  
    .shadowDown {
      display: inline-block;
      -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
      transition: -webkit-box-shadow 0.5s ease 0s;
      -o-transition: box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s;
      transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
    }
  
    .shadowDown:hover {
      -webkit-box-shadow: -15px 15px 15px 0px rgba(0, 0, 0, 0.2);
              box-shadow: -15px 15px 15px 0px rgba(0, 0, 0, 0.2);
    }
  
    .shadowUp {
      -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
      transition: -webkit-box-shadow 03s ease 0s;
      -o-transition: box-shadow 0.3s ease 0s;
      transition: box-shadow 0.3s ease 0s;
      transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
    }
  
    .shadowUp:hover {
      -webkit-box-shadow: -16px -10px 15px 0px rgba(0, 0, 0, 0.10);
              box-shadow: -16px -10px 15px 0px rgba(0, 0, 0, 0.10);
    }
  
    .btnHover {
      -webkit-transition: background-color 0.3s ease 0s;
      -o-transition: background-color 0.3s ease 0s;
      transition: background-color 0.3s ease 0s;
    }
  
    .btnHover:hover {
      background-color: rgba(0, 0, 0);
      color: #fff;
    }
  
    .footer__btn {
      -webkit-transition: background-color 0.3s ease 0s;
      -o-transition: background-color 0.3s ease 0s;
      transition: background-color 0.3s ease 0s;
    }
  
    .footer__btn:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  
    .footer__link:hover {
      text-decoration: underline;
    }
  
    .menu__link:hover {
      font-weight: 600;
    }
  
    .menu__link:hover:before {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
    }
  
    .menu__parent._active .menu__link {
      font-weight: 600;
    }
  
    .menu__parent._active .menu__link:before {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
    }
  
    .card:hover .card__image {
      -webkit-box-shadow: -16px -10px 15px 0px rgba(0, 0, 0, 0.15);
      box-shadow: -16px -10px 15px 0px rgba(0, 0, 0, 0.15);
    }
  
    .card__body:hover {
      color: #000;
    }
  }
  
  @media (max-width: 2575px) {
    .menu__submenu_s {
      left: 1000px;
    }
  }
  
  @media (max-width: 2475px) {
    .menu__submenu_s {
      left: 950px;
    }
  }
  
  @media (max-width: 2375px) {
    .menu__submenu_s {
      left: 900px;
    }
  }
  
  @media (max-width: 2275px) {
    .menu__submenu_s {
      left: 850px;
    }
  }
  
  @media (max-width: 2175px) {
    .menu__submenu_s {
      left: 800px;
    }
  }
  
  @media (max-width: 2075px) {
    .menu__submenu_s {
      left: 750px;
    }
  }
  
  @media (max-width: 1975px) {
    .menu__submenu_s {
      left: 700px;
    }
  }
  
  @media (max-width: 1875px) {
    .menu__submenu_s {
      left: 650px;
    }
  }
  
  @media (max-width: 1775px) {
    .menu__submenu_s {
      left: 600px;
    }
  }
  
  @media (max-width: 1675px) {
    .menu__submenu_s {
      left: 550px;
    }
  }
  
  @media (max-width: 1575px) {
    .menu__submenu_s {
      left: 500px;
    }
  }
  
  @media (max-width: 1475px) {
    .menu__submenu_s {
      left: 450px;
    }
  }
  
  @media (max-width: 1375px) {
    .menu__submenu_s {
      left: 400px;
    }
  }
  
  @media (max-width: 1336px) {
    .footer__column {
      margin: 0px 25px;
    }
  }
  
  @media (max-width: 1335px) {
    .footer__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .footer__footer {
      margin: 75px 20px 40px 20px;
    }
    .footer__subscribe {
      margin: 0;
    }
  
    .footer__title {
      text-align: center;
    }
  
    .footer__form {
      text-align: center;
      margin: 0px 0px 70px 0px;
    }
  
    .footer__footer {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
  }
  
  @media (max-width: 1275px) {
    .menu__submenu_s {
      left: 350px;
    }
  }
  @media (max-width: 1280px) {
    .bookmarks__content__extra {
      justify-content: flex-start !important;
      max-width: 767px;
    }
    .bookmarks__card {
      margin: 0 20px 36px 0 !important;
    }
    .card {
      max-width: 373px;
    }
    .card__image img {
      width: 373px;
    }
    .bookmarks__card2 {
      margin: 0 !important;
    }
    .card-revista {
      max-width: 364px;
    }
    .card-revista img {
      width: 364px;
    }
    .card-revista:nth-child(2n) {
      margin-right: 0 !important;
    }
  }
  @media (max-width: 1240px) {
    .descubre__images {
      margin: 0px 20px 10px 0px;
    }
    .descubre__images:last-child {
      margin-right: 0;
    }
  }
  
  @media (max-width: 1220px) {
    .btn_b {
      width: 310px;
    }
  
    .card-big__title {
      margin: 0px 0px 13px 0px;
      line-height: 18px;
      font-size: 16px;
    }
  }
  
  @media (max-width: 1175px) {
    .menu__submenu_s {
      left: 300px;
    }
  }
  
  @media (max-width: 1075px) {
    .menu__submenu_s {
      left: 250px;
    }
  }
  
  @media (max-width: 1030px) {
    .card {
      max-width: 354px;
    }

    .save-svg-tablet {
      display: block;
    }
    .card__image img {
      width: 354px;
      height: 234px;
    }
  
    .card__iconsm {
      display: none;
    }
    .card-revista {
      max-width: 354px;
    }
    .revista-page {
      padding: 36px 10px;
    }
    .card-revista img {
      width: 354px;
    }
    .card__icon {
      margin: 18px 12px 0px 8px;
    }
  
    .card__icon img {
      display: block;
    }
  
    .card__item {
      margin: -36px -1px 0px 0px;
    }
  
    .card__bodys {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
    .save-icon-after:after {
      display: none;
    }
    .card__body:after {
      content: "";
      position: absolute;
      top: 1px;
      right: 0;
      width: 1px;
      background-color: rgba(0, 0, 0, 0.2);
      height: 13px;
    }
  
    .card__title {
      font-size: 16px;
      line-height: 18px;
      max-width: 272px;
    }
    
    .card__title_w {
      max-width: 190px;
    }
  
    .goods {
      width: 166px;
    }
  
    .goods__image img {
      width: 166px;
    }
  
    .goods__bodys {
      margin: -25px 0px 0px 26px;
      width: 140px;
      height: 15px;
      padding: 5px 0 0;
    }
    .simple-rating_small {
      top: 1px;
    }
    .simple-rating__items {
      top: -1px;
    }
    .goods__span {
      font-size: 9px;
    }
  
    .bookmarks__card {
      margin: 0px 15px 20px 15px;
    }
  }
  @media screen and (max-width: 1024px) {
    .tienda-content {
      text-align: center;
    }
    .product,
    .revista-page {
      padding-top: 18px;
    }
    .art-bookmarks {
      padding-bottom: 65px;
    }
  }
  @media screen and (max-width: 991px) {
    .revista-block .revista-cost {
      padding: 5px 0 25px;
    }
    .revista-container {
      padding: 36px 20px 72px;
    }
    .search-mob {
      margin-left: 90px !important;
    }
  }
  @media (max-width: 991.98px) {
    .arrow {
      bottom: 1%;
      right: 30px;
    }
  
    .header__content {
      padding: 0px 20px 0 40px;
      text-align: center;
      height: 48px;
    }
  
    .header__column_1 {
      display: none;
    }
  
    .header__column_r {
      width: 90%;
    }
  
    .header__column_center {
      width: 0px;
    }
  
    .header__logo {
      display: none;
    }
  
    .link {
      font-size: 18px;
      line-height: 36px;
    }
  
    .link_after:after {
      left: 280px;
    }
  
    .revista {
      margin: 48px 0 0 0px;
    }
  
    .revista__img {
      display: block;
      margin: 14px 0px 0px 0px;
      width: 30px;
      height: 24px;
    }
  
    .tienda {
      padding: 0px;
    }
  
    .tienda__img {
      display: block;
      margin: 5px 0px 0px 0px;
      width: 40px;
      height: 40px;
    }
  
    .tienda__img img {
      margin: 5px 0px 0px 0px;
    }
  
    .tienda__arrowLeft {
      display: block;
      margin: 0px 0px 0px 0px;
      width: 25px;
      height: 25px;
    }
  
    .tienda__list {
      margin: 0px 0px 0px 20px;
      text-align: left;
    }
  
    .tienda__list.content-block._active,
    .tienda__list._tabs-block._active {
      position: fixed;
      width: 100%;
      height: 330px;
      background-color: #fff;
    }
  
    .search {
      top: 75px;
      right: 0;
    }
  
    .custom__list {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
  
    .custom__link._active,
    .custom__link._line {
      width: 250px;
      height: 40px;
      margin: 0px auto;
    }
  
    .custom__link_name {
      display: none;
    }
  
    .custom__link_icon {
      margin: 8px 0px 0px 20px;
      display: block;
    }
  
    .custom__submenu {
      min-height: 600px;
      top: 0px;
      left: 0px;
    }
  
    .submenuCustom__item {
      padding: 0;
      -moz-text-align-last: left;
           text-align-last: left;
    }
  
    .submenuCustom__container {
      margin: 0;
      width: 100%;
      min-height: 294px;
    }
  
    .menu__body {
      position: fixed;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      width: 100%;
      height: 156px;
      padding: 35px 0px 0px 0px;
      -webkit-transition: all 0.8s ease 0s;
      -o-transition: all 0.8s ease 0s;
      transition: all 0.8s ease 0s;
      top: -4px;
      left: 0;
      background-color: #fff;
      margin: 48px 0 0 0;
      opacity: 0;
      visibility: hidden;
    }
  
    .menu__body._active {
      opacity: 1;
      visibility: visible;
      -webkit-transition: all 0.8s ease 0s;
      -o-transition: all 0.8s ease 0s;
      transition: all 0.8s ease 0s;
    }
  
    .menu__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
  
    .menu__img {
      display: block;
      position: absolute;
      width: 11px;
      height: 11px;
    }
  
    .menu__img_1 {
      top: 37px;
      right: 20px;
    }
  
    .menu__img_2 {
      top: 75px;
      right: 20px;
    }
  
    .menu__link._active,
    .menu__link._line {
      width: 250px;
      height: 40px;
      margin: 0px auto;
    }
  
    .menu__parent {
      margin: 0px 0px 16px 0px;
    }
  
    .menu__submenu {
      width: 255px;
      min-height: 600px;
      top: 0px;
      left: 0px;
    }
  
    .menu__submenu_s {
      width: 100%;
    }
  
    .menu__submenu_w {
      top: 0;
      width: 100%;
      left: 0;
    }
  
    .submenu__item {
      padding: 0;
      -moz-text-align-last: left;
           text-align-last: left;
    }
  
    .submenu__container {
      margin: 0;
      width: 100%;
      min-height: 294px;
      text-align: left;
    }
  
    .submenu__container_w {
      min-height: 330px;
    }
  
    .menu__parent._active .menu__link {
      width: 100%;
      margin: 0px auto;
    }
  
    .icon-menu {
      position: absolute;
      cursor: pointer;
      display: block;
      z-index: 5;
      top: 15px;
      left: 20px;
      width: 20px;
      height: 20px;
    }
  
    .icon-menu span {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 1.67px;
      background-color: #000;
    }
  
    .icon-menu span:first-child {
      top: 0px;
    }
  
    .icon-menu span:last-child {
      top: auto;
      bottom: 0px;
    }
  
    .icon-menu._active span {
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
    }
  
    .icon-menu._active span:first-child {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: calc(50% - 1px);
    }
  
    .icon-menu._active span:last-child {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      bottom: calc(50% - 1px);
    }
  
    .card-big {
      width: 374px;
      height: 246px;
      padding: 60px 150px 30px 15px;
    }
  
    .card-big__ibg img {
      width: 100%;
      height: 100%;
    }
    .eleccion__column {
      margin: 0;
    }
    .card-big__black {
      left: 18px;
    }
  
    .card-big__text {
      padding: 0px 0px 30px 0px;
      font-size: 12px;
      line-height: 18px;
    }
  
    .card-big__bodys {
      font-size: 12px;
      line-height: 16px;
    }
  
    .card-big__bodys img {
      bottom: 24px;
      right: 18px;
    }
  
    .card-big__name {
      padding: 0px 15px 0px 0px;
    }
  
    .card-big__name:after {
      top: 2px;
      height: 14px;
    }
  
    .card-big__min {
      padding: 0px 0px 0px 20px;
    }
  
    .card-big__min:after {
      top: 0;
    }
  
    .black-block {
      width: 75px;
      height: 30px;
      font-weight: 600;
      line-height: 10px;
      font-size: 9px;
    }
  
    .page {
      margin: 48px 0px 0px 0px;
    }
  
    .eleccion {
      padding: 30px 0px 10px 0px;
    }
  
    .eleccion__card2 {
      margin: 0px 0px 0px 30px;
    }
  
    .card2 {
      width: 100%;
    }
  
    .card2__image img {
      width: 157px;
      height: 138px;
    }
  
    .card2__cost {
      font-size: 14px;
    }
  
    .bookmarks__title {
      max-width: 500px;
      margin: 0px auto 35px auto;
    }
  }
  
  @media (max-width: 840px) {
    .images__img img {
      -o-object-fit: cover;
         object-fit: cover;
      width: 354px;
    }
  }
  
  @media (max-width: 768px) {
    .title-big {
      font-size: 20px;
      line-height: 24px;
    }
  
    .bookmarks__card {
      margin: 0px 10px 20px 10px;
    }
    #toTop {
      display: none !important;
    }
  }
  
  @media (max-width: 767.98px) {
    .footer__content-2 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
    }
  
    .footer__column {
      margin: 0px 0px 64px 0px;
    }
  
    .footer__subtitle {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }
  
    .footer__link {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }
  
    .footer__footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 0;
    }
  
    .footer__icons {
      margin: 0px 0px 30px 0px;
    }
  
    .footer__icon {
      margin: 0px 30px;
    }
  
    .footer__ps {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      margin: 0px 0px 35px 0px;
    }
  
    .header__column_r {
      width: 100%;
      margin-left: 100px;
    }
    .search {
      width: 100%;
      height: 150px;
    }
  
    .search__btn {
      margin: 25px 0px 0px 0px;
      display: block;
      font-family: "OpenSans";
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      width: 157px;
      height: 36px;
      border: 1px solid #000000;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-color: #fff;
    }
  

  
    .goods_hide {
      display: none;
    }
  
    .main-screen__title {
      font-size: 24px;
      line-height: 30px;
    }
  }
  @media screen and (max-width: 991px) {
    .art-product {
      width: 270px;
      height: auto;
      padding: 16px 20px;
    }
    .art-product img {
      max-width: 100%;
      padding: 25px;
    }
    .art-product:last-child {
      margin-left: 10px;
    }
    .art-product:first-child {
      margin-right: 10px;
    }
    .art-prod-title {
      font-size: 18px;
      line-height: 21px;
    }
    .art-product {
      text-align: left;
    }
    .articles-product {
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 0 20px;
      margin: 35px auto;
    }
    .tiende-content-btn {
      width: 100%;
    }
    .revista-desc {
      display: none;
    }
    .revista-tablet {
      display: block;
    }
    .revista-img {
      position: inherit;
      left: 0;
    }
    .revista-block {
      margin-right: 30px;
      margin-left: 40px;
    }
    .product__goods {
      margin: 0 10px;
    }
    .bookmarks__content {
      padding: 0px 10px;
    }
    .save-svg-tablet {
      width: 25px !important;
      height: 35px !important;
    }
    .card__text {
      font-size: 14px;
      line-height: 18px;
      padding-right: 20px;
    }
    .card__title {
      margin-bottom: 5px;
    }
    .tienda-nav {
      display: block;
      padding: 10px 20px;
    }
    .filtros {
      margin-bottom: 7px;
    }
    .revista-header {
      margin-bottom: 7px;
    }
    .filtros-sidebar {
      top: 44px;
    }
    .revista-sidebar {
      top: 44px;
    }
    .tienda-sidebar {
      top: 44px;
    }
    .mob-search-btn {
      display: block;
    }
    .search-form {
      width: 50%;
    }
    .head-user-icon {
      margin-top: 4px;
    }
    .heart-mob--icon {
      order: -1;
      margin-left: 38px;
    }
    .search-mob {
      order: -1;
    }
    .login-sub-menu,
    .search-sub-block {
      width: 100%;
      top: 45px;
      text-align: left;
    }
  }
  @media screen and (max-width: 840px) {
    .search-mob {
      margin-left: 70px !important;
    }
  }
  @media screen and (max-width: 767px) {
    .revista-container {
      flex-direction: column;
      padding: 26px 20px 80px;
    }
    .revista-block {
      padding-top: 30px;
    }
    .bookmarks__content {
      justify-content: center !important;
    }
    .bookmarks__card:nth-child(2) {
      margin: 0 20px 20px 0 !important;
    }
    .bookmarks__content__extra {
      justify-content: center !important;
    }

    .card__text {
      padding-right: 0 !important;
    }
    .title-big {
      width: 340px;
      margin: 0 auto 24px;
    }
    .btn_b {
      width: 335px;
    }
    .search-mob {
      margin-left: 30px !important;
    }
  }
  @media (max-width: 765px) {

    .eleccion__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .eleccion__card2 {
      margin: 30px 0px 0px 0px;
    }
  
    .eleccion__card2:first-child {
      margin: 30px 30px 0px 0px;
    }
  }
  
  @media (max-width: 760px) {
    .product__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  
  @media (max-width: 758px) {
    .images__img_1 {
      margin: 0px 20px 0px 0px;
    }
    .bookmarks__card {
      margin: 0 0 20px 0 !important;
    }
    .bookmarks__card:nth-child(2) {
      margin: 0 0 20px 0 !important;
    }
    .images__img img {
      width: 157px;
      height: 120px;
    }
    .revista-page {
      padding-right: 0;
      padding-left: 0;
    }
    .images__title {
      margin: 8px 0px 0px 0px;
    }
  
    .images__title {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      text-align: left;
    }
  
    .card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 370px;
    }
  
    .card__image img {
      width: 112px;
      height: 108px;
    }
  
    .card__icon {
      position: absolute;
      margin: 0px 0px 0px 0px;
      top: 0;
      right: 0;
    }
  
    .card__item {
      margin: 0;
    }
  
    .card__bodys {
      height: 20px;
    }
  
    .card__body {
      padding: 0px 18px 0px 0px;
      margin: 0px 0px 0px 0px;
    }
  
    .card__min {
      padding: 0px 0px 2px 30px;
      margin: 0px 0px 0px 0px;
    }
    .card__min:after {
      top: 3px;
    }
    .card__title {
      max-width: 200px;
      font-size: 14px;
      line-height: 18px;
      margin: 0px 0px 2px 0px;
    }
    .goods__title {
      font-size: 14px;
      line-height: 18px;
    }
    .card__text {
      width: 200px;
      font-size: 12px;
      line-height: 18px;
    }
  
    .descubre__row {
      margin: 0px auto;
      width: 340px;
    }
  
    .descubre__column_3 {
      display: none;
    }
  
    .descubre__images {
      margin: 0px 0px 13px 0px;
    }
  
    .bookmarks__content {
      max-width: 500px;
    }
  
    .bookmarks__card {
      margin: 0px 0px 18px 0px;
      padding: 0px 0px 18px 0px;
      border-bottom: 1px solid #BDBDBDFF;
    }
  
    .bookmarks__card:last-child {
      border-bottom: none;
    }
    .card-revista:first-child {
      border-bottom: none;
      display: block !important;
    }
    .card-revista:nth-child(3n+4) {
      display: block !important;
      border-bottom: none;
    }
    .card-revista:first-child .card__title {
      font-size: 16px;
      line-height: 18px;
    }
    .card-revista:nth-child(3n+4) .card__title {
      font-size: 16px;
      line-height: 18px;
    }
    .card-revista:first-child .card__text {
      font-size: 14px;
      width: 220px;
    }
    .card-revista:nth-child(3n+4) .card__text {
      font-size: 14px;
      width: 220px;
    }
    .card-revista:nth-child(3n+3) {
      border-bottom: none;
      padding-bottom: 34px;
    }
    .card-revista:first-child img {
      width: 100%;
      height: 234px;
    }
    .card-revista:nth-child(3n+4) img {
      width: 100%;
      height: 234px;
    }
    .card-revista:first-child .card__item {
      width: 100%;
      padding-top: 10px;
      margin: -36px -1px 0px 0px;
    }
    .card-revista:nth-child(3n+4) .card__item {
      width: 100%;
      padding-top: 10px;
      margin: -36px -1px 0px 0px;
    }
    .card-revista:first-child .card__icon {
      position: inherit;
      margin: 18px 18px 0px 18px;
    }
    .card-revista:nth-child(3n+4) .card__icon {
      position: inherit;
      margin: 18px 18px 0px 18px;
    }
    .card-revista {
      max-width: 332px;
    }
    .card-revista {
      padding-bottom: 20px;
    }
  }
  @media screen and (max-width: 700px) {
    .search-mob {
      margin-left: 22px !important;
    }
  }
  @media (max-width: 700px) {
    .btns {
      margin: 10px auto 0 auto;
    }
  }
  
  @media (max-width: 690px) {
    .borders {
      min-height: 300px;
    }
  
    .borders__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    
    .borders__btn:first-child {
      margin: 0px 0px 10px 0px;
    }
  }
  @media screen and (max-width: 576px) {
    .articles-product {
      background-image: url(../img/product/articles-img2-mobile.png);
    }
    .articles-flex span:last-child {
      padding-right: 10px;
    }
    .articles-block-txt {
      padding-left: 10px;
    }
    .articles-block {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
    }
    .articles-block {
      height: 30px;
    }
    .articles-container {
      margin: 10px auto;
      background-image: url(../img/product/articles-mobile.png);
    }
    .articles-product {
      flex-direction: column;
    }
    .bookmarks__card {
      max-width: 100%;
    }
    .bookmarks__card  picture img {
      width: 100%;
    }
    .article-line-mob {
      display: block;
      padding: 0 !important;
    }
    .article-line {
      margin: 0 0 0 8px;
    }
    .article-line-desc {
      display: none;
    }
    .art-save-mob {
      position: absolute;
      top: -7px;
      right: -175px;
    }
    .art-save-mob .article-icon-save {
      width: 20px !important;
      height: 28px !important;
    }
    .articles-product {
      min-height: auto;
      padding: 40px 15px;
    }
    .tienda-nav {
      padding: 10px 15px;
    }
    .art-title {
      font-size: 18px;
    }
    .art-text {
      font-size: 16px;
      line-height: 24px;
    }
    .articles-title {
      font-size: 24px;
      padding: 0 15px;
      top: 14%;
      line-height: 30px;
    }
    .article-content {
      padding: 40px 15px;
    }
    .art-product:first-child {
      margin: 0 0 40px 0
    }
    .art-product:last-child {
      margin: 0 ;
    }
    .card-revista {
      width: 100%;
      max-width: 576px;
    }
    .card__items {
      width: 100%;
    }
    .revista-block {
      margin: 0;
    }
    .nav-link:last-child {
      margin-right: 0 !important;
    }
    .filtr-sidebar-btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .goods__cost {
      font-size: 12px;
      line-height: 18px;
    }
    .filtr-sidebar-btns button {
      width: 48%;
      font-size: 10px;
      line-height: 14px;
    }
    .simple-rating__items {
      top: -2px;
    }
    .filtros {
      margin-right: 0;
      justify-content: flex-end;
      width: 100%;
    }
    .revista-header {
      margin-right: 0;
      justify-content: flex-end;
      width: 100%;
    }
    .revista-header .filtros-svg {
      order: -1;
      transform: rotate(180deg);
      padding: 4px 0 0 16px;
    }
    .filtros .filtros-svg {
      order: -1;
      transform: rotate(180deg);
      padding: 4px 0 0 16px;
    }
    .filtros-back svg {
      transform: rotate(180deg);
      order: 1;
    }
    .filtros-back {
      justify-content: flex-end;
    }
    .filtros-back span {
      padding-right: 16px;
    }
    .revista-back {
      justify-content: flex-end;
    }
    .revista-back span {
      padding-right: 16px;
    }
    .revista-back svg {
      transform: rotate(180deg);
      order: 1;
    }

    .tienda-back svg {
      transform: rotate(180deg);
      order: 1;
    }
    .tienda-back {
      justify-content: flex-end;
    }
    .tienda-back span {
      padding-right: 16px;
    }
    .filtros-sidebar {
      right: 0;
      padding: 20px;
    }
    .revista-sidebar {
      right: 0;
      padding: 20px;
    }
    .tienda-sidebar {
      right: 0;
      padding: 20px;
    }
    .tienda-content {
      width: 360px;
      height: 270px;
    }
    .tienda-header {
      justify-content: center !important;
    }
    .tienda-content {
      text-align: center;
    }
    .tienda-title {
      font-size: 20px;
      line-height: 22px;
    }
    .tienda-text {
      font-size: 14px;
      line-height: 22px;
    }
    .search-form {
      width: 100% !important;
    }
    .card__item {
      padding: 0 0 0 15px;
    }
    .card__text {
      font-weight: 400;
    }
    .card__bodys {
      line-height: 18px;
    }
    .save-icon-link {
      bottom: 16px;
    }
    .card-big__bodys {
      font-weight: 400;
    }
    .card-big__title {
      font-weight: 500;
    }
    .borders {
      min-height: auto;
    }
    .borders__btn:first-child {
      margin: 30px 0px 10px 0px;
    }
    .borders__btn:last-child {
      margin: 0px 0px 16px 0px;
    }
    .eleccion__content {
      margin: 0;
    }
    .product__goods {
      margin: 5px;
    }
    ._container {
      padding: 0 16px;
    }
    .custom__parent22 {
      margin-right: 9px;
    }
    .custom__parent {
      margin: -7px 0px 0px 5px;
    }
    .icon-menu {
      left: 15px !important;
    }
    .search-mob {
      margin-left: 5px !important;
    }
  }
  @media screen and (max-width: 510px) {
    .header__column_r {
      margin-left: 90px;
    }
  }
  @media (max-width: 479.98px) {
    .goods__image img {
      width: 157px;
    }
  
    .goods__bodys {
      width: 131px;
    }
    .card2__title {
      font-size: 14px;
      line-height: 16px;
    }
  }
  @media screen and (max-width: 440px) {
    .header__column_r {
      margin-left: 80px;
    }
    .heart-mob--icon {
      margin-left: 20px;
    }
  }
  @media (max-width: 410px) {
    .card-big {
      padding: 60px 100px 30px 15px;
      width: 100%;
    }
  
    .card-big__ibg img {
      width: 100%;
    }
    .header__column_r {
      margin-left: 76px;
    }
    .eleccion__column {
      margin: 0;
    }
    .search-mob {
      margin-left: -5px !important;
    }
  }
  @media screen and (max-width: 380px) {
    .tienda-content {
      width: 300px;
      padding: 20px 10px;
    }
    .tienda-cost {
      font-size: 16px;
      line-height: 18px;
    }
    .tienda-header-txt {
      font-size: 10px;
      line-height: 14px;
    }
    .tienda-title {
      font-size: 18px;
      line-height: 20px;
    }
    .tienda-text {
      font-size: 12px;
      line-height: 20px;
    }
  }
  @media (max-width: 370px) {  
    .images__img_1 {
      margin: 0px 10px 0px 0px;
    }
  
    .descubre {
      margin: 0px -35px;
    }
  }
  
  @media (max-width: 370px) and (max-width: 340px) {
    .images__img_1 {
      margin: 0px 5px 0px 0px;
    }
    .revista-block .revista-btns .revista-btn {
      width: 142px;
    }
    .revista-container {
      padding: 60px 15px 80px;
    }
  }
  
  @media (max-width: 361px) {
    .header__column_r {
      width: 88%;
      margin: -10px 0px 0px 0px;
    }
  
    .custom__link_icon {
      padding: 0;
    }
  
    .custom__link_user {
      padding: 0;
    }
  }
  
  @media (max-width: 360px) {
    .nav-link:last-child {
      margin-right: 0;
    }
    .nav-link {
      margin-right: 12px;
    }
    .search-mob {
      margin-left: 30px !important;
    }
    .title-big {
      width: auto;
      font-size: 18px;
      padding: 0 15px;
    }
    .bookmarks__card picture img {
      width: 112px;
    }
    ._container {
      padding: 0 15px 0 15px;
    }
    .icon-menu {
      left: 10px;
    }
    .product__goods:first-child {
      margin-right: 5px;
      margin-left: 0;
    }
    .product__goods:last-child {
      margin-right: 0;
      margin-left: 5px;
    }
    .eleccion__card2 {
      width: 100% !important;
    }
    .custom__parent {
      margin: -7px 0px 0px 22px;
    }
    .eleccion__column {
      margin: 0;
    }
    .goods__bodys {
      padding: 2px 6px 0;
    }
    .head-user-icon {
      padding-left: 4px;
    }
    .descubre__row {
      padding: 0 30px;
      width: 100%;
    }
    .images__img img {
      width: 100%;
      height: auto;
    }
    .eleccion__card2:first-child {
      margin: 30px 10px 0px 0px;
    }
    .card__title {
      font-size: 12px;
      line-height: 16px;
    }
    .goods__title {
      font-size: 12px;
      line-height: 16px;
    }
    .goods__image img {
      width: 100%;
    }
    .card__text {
      width: auto;
    }
    .card__body {
      padding: 0 12px 0px 0px;
    }
    .card2__image img {
      width: 100%;
      height: auto;
    }
  }
  @media (max-width: 345px) {
    .card {
      max-width: 310px;
    }
  
    .card__icon {
      margin: 0;
    }
  }
  
  @media (max-width: 340px) {
    .eleccion__card2:first-child {
      margin: 30px 5px 0 15px;
    }
    .eleccion__card2:last-child {
      margin: 30px 15px 0 5px;
    }
    .btn_b {
      width: 80%;
    }
    .bookmarks__btn22 {
      width: 94%;
    }
    .product__btn22 {
      width: 96%;
    }
    .save-svg-tablet {
      width: 20px !important;
      height: 30px !important;
    }
  }
 
  @media (max-width: 310px) {
    .bookmarks__card {
      margin: 0px 0px 20px 0px;
    }
  }
  @supports (-webkit-appearance:none){
  .link_after:after{background:url("../img/icons/arrow-right.png") 0 0 no-repeat}
  .card-big__min:after{background:url("../img/card/clock.png") 0 0/15px 15px no-repeat}
  .card__min:after{background:url("../img/product/clock.png") 0 0/11px 11px no-repeat}
  }
  
   @media (min-width: 991.98px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 2575px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 2475px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 2375px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 2275px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 2175px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 2075px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 1975px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 1875px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 1775px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 1675px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 1575px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 1475px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 1375px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 1336px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 1335px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 1275px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 1240px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 1220px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 1175px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 1075px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 1030px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 991.98px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 840px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 816px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 768px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 767.98px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 765px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 760px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 758px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 700px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 690px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 479.98px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 410px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 370px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 370px) and (max-width: 340px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 361px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 360px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 345px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 340px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  
   @media (max-width: 310px){
  
  @supports (-webkit-appearance:none){
  
  }
  
  }
  